button.btn.btn-primary {
  margin: 1em;
}

.modal-footer {
  justify-content: flex-start;
}

input[type="checkbox"] {
  margin-right: 5px;
}

buttonAStyle {
  color: "#46139f";
}

buttonBStyle {
  color: "#ff7f50";
}

buttonCStyle {
  background-color: "white";
  border: "1px solid #46139f";
  color: "#46139f";
}

li {
  display: flex;
  justify-content: space-between;
}

.blur-background {
  filter: blur(5px); /* Adjust the blur amount as needed */
}